%main{class: "mt-5"}
  .container
    / Grid row
    .row
      .col-md-5
        %h2 Keep your content synchronized
        %hr
        %p
          FileSync lets you keep you data synchronized so you can access
          it on any device. Pros:
        %p
          * Peace of mind. Your data is always safe
        %p
          * Ease of access. No matter how and where you created your data
          you can always access it from any device that have an Internet access
          by leveraging the power of the cloud
        =link_to 'Download', file_transfers_path, class: "btn btn-primary"
        =link_to 'Upload', new_file_transfer_path, class: "btn btn-primary"

      .col-md-7
        %div{class: "view overlay z-depth-1-half"}
          =image_tag 'nature.jpg', class: "card-img-top", alt: ""
          %div{class: "mask rgba-white-light"}

    / Grid row
    / Grid row
    .row
      / Grid column
      .col-lg-4.col-md-12
      / Grid column
      / Grid column
      .col-lg-4.col-md-6
      / Grid column
      / Grid column
      .col-lg-4.col-md-6
      / Grid column
    / Grid row
/ Main container
